html {
	box-sizing: border-box;
	font-size: 100%;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	padding: 20px;
	background-color: #000000;
	color: #000000;
	font-family: 'Roboto', sans-serif;
	line-height: 1.3;
}

main {
	background-color: #ffffff;
	padding: 20px;
}
